* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3 {
  color: #363636;
}

h3,
h4 {
  font-weight: 400;
  color: #646464;
}

.App {
  transition: all 0.5s ease;
}

.library-active {
  margin-left: 30%;
}

.song-container {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.song-container img {
  width: 20%;
  border-radius: 50%;
}
.song-container h2 {
  padding: 3rem 1rem 1rem;
}
.song-container h3 {
  font-size: 1.2rem;
}

@media screen and (max-width: 768px) {
  .song-container img {
    width: 60%;
  }
}
.player {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.time-control {
  width: 50%;
  display: flex;
}
.time-control input {
  width: 100%;
  appearance: none;
  padding: 1rem 2rem;
  outline: none;
}
.time-control input::-webkit-slider-runnable-track {
  cursor: pointer;
  height: 8px;
  background: #c4cdd4;
  border-radius: 1rem;
}
.time-control input::-webkit-slider-thumb {
  box-shadow: 1px 2px 5px #000000;
  height: 16px;
  width: 16px;
  border-radius: 3px;
  background: lightcoral;
  cursor: pointer;
  -webkit-appearance: none;
  border-radius: 50px;
  transform: translateY(-5px);
}
.time-control p {
  padding: 1rem;
}

.play-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 30%;
}
.play-control svg {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .time-control {
    width: 90%;
  }

  .play-control {
    width: 60%;
  }
}
.library {
  position: fixed;
  top: 0;
  left: 0;
  width: 20rem;
  height: 100%;
  box-shadow: 2px 2px 50px #cccccc;
  overflow-y: scroll;
  transform: translateX(-100%);
  transition: all 0.5s ease;
  background: #fff;
  opacity: 0;
}
.library h2 {
  padding: 2rem;
}

.library-song {
  display: flex;
  align-items: center;
  padding: 1rem 2rem 1rem 2rem;
  cursor: pointer;
  transition: background 0.5s ease;
}
.library-song img {
  width: 30%;
}
.library-song:hover {
  background: #dedeff;
}

.song-description {
  padding-left: 1rem;
}
.song-description h3 {
  font-size: 1rem;
}
.song-description h4 {
  font-size: 0.7rem;
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}

.selected {
  background: #dedeff;
}

.active-library {
  transform: translateX(0%);
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .library {
    width: 100%;
  }
}
nav {
  min-height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  border: 2px solid #414141;
  padding: 0.5rem;
  transition: all 0.3s ease;
  outline: none;
}
nav button:hover {
  background: #414141;
  color: #fff;
}

@media screen and (max-width: 768px) {
  nav button {
    z-index: 10;
  }
}

/*# sourceMappingURL=app.css.map */
